<template name="layout">
  <div class="container">
    {{> header}}

    <div id="login-wrapper">
      <form class="form login-form">
        <legend>Sign in to <span class="blue">SPWC</span></legend>

        <div class="body">
          <label>Username</label>
          <input type="text">

          <label>Password</label>
          <input type="password">
        </div>

        {{> loginButtons}}

        <div class="footer">
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
          </label>

          <button type="submit" class="btn btn-success">Login</button>

        </div>

      </form>
    </div>


<!--     <div id="main" class="row-fluid">

      {{> yield}}
    </div> -->
  </div>
</template>