<template name="websiteEdit">
  <div id="login-wrapper">
    <form id="login-form" action="action" class="form login-form">
      <div class="control-group">
        <div class="controls">
          <input name="address1" type="text" value="{{address1}}" placeholder="Address 1"/>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input name="address2" type="text" value="{{address2}}" placeholder="Address 2"/>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input name="city" type="text" value="{{city}}" placeholder="City"/>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input name="state" type="text" value="{{state}}" placeholder="State"/>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input name="zip" type="text" value="{{zip}}" placeholder="Zip Code"/>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input name="title" type="text" value="{{title}}" placeholder="Title"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea name="description" type="text" value="{{description}}"></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" value="Submit" id="submit-website-button" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
</template>