<template name="websiteItem">
  <tr class="website">
    <td class="property-address-table">{{address1}}, {{address2}}, {{city}}, {{state}}, {{zip}}</td>
    <td>
      <a class="glyphicon glyphicon-pencil" href="#" data-toggle="modal" data-target="#edit-website-modal"></a>
<!--       <a class="glyphicon glyphicon-pencil" href="{{pathFor 'websiteEdit'}}"></a> -->
      <a class="glyphicon glyphicon-trash" href="#"></a>
    </td>
    <td>
      <a class="glyphicon glyphicon-eye-open" href="{{url}}" target="_blank"></a>
    </td>
  </tr>

  <div class="modal fade" id="edit-website-modal" tabindex="-1" role="dialog" aria-labelledby="edit-website-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h4 class="modal-title" id="edit-website-modal-label">Edit a Website</h4>
        </div>
        <form id="edit-website-form" action="action" class="form login-form">
          <div class="modal-body">
            <div class="col-md-12">
              <input class="form-control" name="address1" type="text" value="{{address1}}" placeholder="Address 1"/>
              <input class="form-control" name="address2" type="text" value="{{address2}}" placeholder="Address 2"/>
              <input class="form-control" name="city" type="text" value="{{city}}" placeholder="City"/>
              <input class="form-control" name="state" type="text" value="{{state}}" placeholder="State"/>
              <input class="form-control" name="zip" type="text" value="{{zip}}" placeholder="Zip Code"/>
              <input class="form-control" name="title" type="text" value="{{website_title}}" placeholder="Title"/>
              <textarea class="form-control" rows="4" name="description" type="text" placeholder="Description" >{{description}}</textarea>
              <input class="form-control" name="sqft" type="text" value="{{sqft}}" placeholder="Square Footage"/>
              <input class="form-control" name="beds" type="text" value="{{beds}}" placeholder="Number of Beds"/>
              <input class="form-control" name="baths" type="text" value="{{baths}}" placeholder="Number of Baths"/>
              <input class="form-control" name="lot" type="text" value="{{lot}}" placeholder="Lot Size"/>
              <input class="form-control" name="video" type="text" value="{{video}}" placeholder="Video Link"/>
              <input class="form-control" name="user_id" type="hidden" value="{{currentUser._id}}"/>
              <label class="modal-title">
                Pick a Template
              </label>
              <div class="radio">
                <label>
                  <input type="radio" name="template" id="template" value="1" checked>
                  Merlin
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="template" id="template" value="2">
                  Amoeba
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="template" id="template" value="3">
                  Shield
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="template" id="template" value="4">
                  Progressus
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" value="Submit" id="submit-edit-website" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
  </div>

</template>

